<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hillavas.tipnoo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VideoDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ConfirmActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".SelectSexActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait" />

        <!-- &lt;!&ndash; Declare SMS Broadcast receiver &ndash;&gt; -->
        <!--
        <receiver a
        ndroid:name=".SMSReceiver">
        -->
        <!-- <intent-filter android:priority="999"> -->
        <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity android:name=".SubscribeConfirmActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MoreVideoListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".SearchActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".FilterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SearchResultActivity"
            android:screenOrientation="portrait"  />
        <activity android:name=".FilterLeafActivity"
            android:screenOrientation="portrait"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="32384587bd1a5d0cfcdb12166566ce8d161e7ff8" />
    </application>

</manifest>